h1 {
    text-align: center;
    border-bottom: 1px solid black;

}
input {
    font-size: 1.2rem;
    background-color: #89CFF0;
    border-color: #6CB4EE;
    border-radius: 5px;
    padding: 15px 40px;
    width: 200px;
}
input:hover{
    background-color: white;
}
div {
    text-align: center;
}